$Heading: "Montserrat", sans-serif;
$Common: "Montserrat", sans-serif;
$linear25: 0.25s linear;
$ease-in-out50: 0.5s ease-in-out;
$main: #0c5a93;
$text: #000;
$title: #2e2d2d;
$light: #6b9bc0;
$hover: rgba(255, 255, 255, 0.7);
