.objects-single-page {
  @include container;

  padding-top: 80px;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 475px;
      margin-right: auto;
    }

    &-heading {
      @include title;

      line-height: 34px;
      max-width: 380px;
      margin-bottom: 34px;
    }

    &-content {
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $text;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-top: 15px;

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $main;
        margin-bottom: 5px;
      }

      &-item {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $text;
        padding-left: 24px;

        &::before {
          position: absolute;
          content: "";
          top: 10px;
          left: 10px;
          width: 3px;
          height: 3px;
          background: $text;
          border-radius: 50%;
        }
      }
    }

    &-footer {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &-city,
      &-date {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $light;
        padding-left: 25px;

        &::before {
          position: absolute;
          top: 1px;
          left: 0;
        }
      }

      &-city {
        margin-right: 30px;

        &::before {
          content: url("../images/svg/pin.svg");
        }
      }

      &-date {
        &::before {
          content: url("../images/svg/date.svg");
        }
      }
    }

    &-slider {
      max-width: 569px;
      width: 100%;

      &-item {
        width: 569px;
        height: 395px;
        object-fit: cover;
        object-position: center;
        cursor: zoom-in;
      }

      .owl-nav {
        button {
          position: absolute;
          bottom: -36px;
          width: 20px;
          height: 30px;
          outline: none;
          background-size: 16px;
          font-size: 0;
          z-index: 99;

          span {
            font-size: 0;
          }

          &.owl-prev {
            left: 88%;
            background: url("../images/svg/prev_sl.svg") no-repeat center center;
            z-index: 99;
          }

          &.owl-next {
            right: 0;
            background: url("../images/svg/next_sl.svg") no-repeat center center;
            z-index: 99;
          }

          &.disabled {
            opacity: 0.5 !important;
          }
        }
      }

      .owl-dots {
        position: absolute;
        //bottom: -40px;
        bottom: -34px;
        right: 0;
        //max-width: 80%;
        max-width: 100%;
        width: 100%;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        //margin-right: 18%;
        margin-right: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: $text;

        .owl-dot {
          display: none;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $main;
          box-sizing: border-box;
          //display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 15px 5px;
          outline: none;

          /*
          &.active {
            position: relative;
            width: 11px;
            height: 11px;
            border: 1px solid $main;
            background: none;
          }
          */
        }
      }
    }
  }

  &__related {
    margin-top: 88px;

    &-title {
      @include title;
    }

    &-content {
      margin-top: 37px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc((100% - 74px) / 3);
        min-height: 480px;
        margin-right: 37px;
        margin-bottom: 37px;
        background: #fff;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        transition: 0.45s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        &-image-link {
          width: 100%;
          height: 219px;
        }

        &-image {
          width: 100%;
          height: 219px;
          object-fit: cover;
          object-position: center;
        }

        &-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          min-height: 260px;
          padding: 26px 20px;
        }

        &-title {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: $main;
          margin-bottom: 12px;

          &:hover {
            color: $light;
          }
        }

        &-city {
          position: relative;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          padding-left: 22px;

          &::before {
            position: absolute;
            content: url("../images/svg/pin.svg");
            top: 0;
            left: 0;
          }
        }

        &-text {
          margin-top: 12px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $title;
        }

        &-link {
          margin-top: auto;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-decoration-line: underline;
          color: $main;

          &:hover {
            color: $light;
          }
        }
      }
    }
  }
}
