.production-page {
  @include container;

  padding-top: 80px;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 806px;
      margin-right: 37px;
    }

    &-heading {
      @include title;

      margin-bottom: 34px;
    }

    &-content {
      h2 {
        @include title;

        font-size: 20px;
        margin-bottom: 21px;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 21px;
        color: $title;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        color: $title;

        &:last-child {
          margin-bottom: 0;
        }

        a:hover {
          color: $main;
        }
      }

      strong {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 123.49%;
        color: $text;
      }

      em {
        font-style: italic;
      }

      .text-emit {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 123.49%;
        margin-bottom: 15px;
        color: $title;
      }

      ul {
        margin-top: 2px;
        margin-bottom: 2px;

        li {
          position: relative;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $title;
          padding-left: 17px;
          margin-bottom: 3px;

          &::after {
            position: absolute;
            content: "";
            top: 6px;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $main;
          }
        }
      }
    }
  }

  &__sidebar {
    max-width: 256px;
    width: 100%;
    background: #fff;
    border: 1px solid #edf3f7;
    box-sizing: border-box;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 60px;
      background: $main;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      padding: 18px 16px;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-nav-list {
      li.menu-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #edf3f7;

        &:last-child {
          border-bottom: none;
        }

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: $title;
          width: 100%;
          height: 100%;
          padding: 11px 21px 10px;
        }

        &:hover {
          background: rgba(107, 155, 192, 0.12);
        }
      }

      .current-menu-item {
        background: rgba(107, 155, 192, 0.12);
      }
    }
  }

  &__price {
    margin-top: 60px;
    margin-bottom: 60px;

    &-title {
      @include title;

      margin-bottom: 34px;
    }

    // Tabs content
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 100%;
    }

    &-tabs {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-item {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: calc((100% - 8px) / 3.5);
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        background: $light;
        border-radius: 0 20px 0 0;
        cursor: pointer;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }

        &.item--active,
        &:hover {
          background: $main;
        }
      }
    }

    &-table-wrapper {
      width: 100%;
    }

    &-table {
      display: none;
      border: 1px solid $table;
      box-sizing: border-box;

      &:first-of-type {
        display: block;
      }

      &-title_row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        text-align: center;
        background: $table;
        width: 100%;
        height: 44px;

        &-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: $main;
        }
      }

      &_row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        text-align: center;
        background: #fff;
        width: 100%;
        height: 44px;

        &:nth-child(even) {
          background: $table;
        }

        &-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: $title;
        }
      }
    }
  }

  &__product {
    margin-top: 60px;

    &-title {
      @include title;

      margin-bottom: 34px;
    }

    &-content {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      .owl-nav {
        button {
          position: absolute;
          top: -45px;
          width: 20px;
          height: 30px;
          outline: none;
          background-size: 16px;
          font-size: 0;
          z-index: 99;

          span {
            font-size: 0;
          }

          &.owl-prev {
            left: 93%;
            background: url("../images/svg/prev_sl.svg") no-repeat center center;
            z-index: 99;
          }

          &.owl-next {
            right: 25px;
            background: url("../images/svg/next_sl.svg") no-repeat center center;
            z-index: 99;
          }

          &.disabled {
            opacity: 0.5 !important;
          }
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      &-image {
        width: 100%;
        height: 219px;
        cursor: zoom-in;

        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-title {
        margin-top: 26px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $main;
      }
    }
  }
}
