.banner {
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80px;
  z-index: 9999;

  &__header {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    &-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 15px;
      max-width: 205px;
      width: 100%;

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        color: #9b9999;
        margin-left: 5px;
      }
    }
  }

  &__nav-primary {
    width: 100%;
    max-width: 550px;

    .menu-verhnee-menyu-container {
      width: 100%;
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      li.current-menu-item {
        a {
          color: $light !important;
        }
      }

      li.menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        min-height: 32px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: $title;

          &:active,
          &:hover {
            color: $main;
          }
        }

        &.menu-item-has-children {
          position: relative;
          flex-direction: column !important;
          justify-content: center;
          align-items: flex-start;
          min-height: 39px;
          height: auto;

          &::after {
            position: absolute;
            //content: url("../images/svg/ar_down.svg");
            top: 15px;
            right: -15px;
          }

          ul.sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            flex-direction: column !important;
            justify-content: flex-start;
            align-items: flex-start;
            width: 200px;
            height: auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            background-color: #fff;
            z-index: 5;

            li.menu-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              white-space: normal;
              min-height: 32px;
              border-bottom: 1px solid #efefef;
              width: 100%;
              margin-right: 0;

              a {
                padding: 6px 8px;
                color: $text;
                width: 100%;
                font-size: 14px;
                line-height: 14px;
              }

              &:hover {
                background-color: $light;

                a {
                  color: #fff;
                }
              }
            }
          }

          &:hover {
            ul.sub-menu {
              display: flex;
              height: auto;
            }
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 20px;

    &-contact {
      margin-right: 25px;

      &_phone {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $title;

        &:hover {
          color: $main;
        }
      }
    }
  }

  .navi {
    display: none;
  }
}

