.blog-page {
  @include container;

  padding-top: 80px;
  margin-top: 60px;

  &__title {
    @include title;

    line-height: 34px;
    margin-bottom: 34px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &-text {
      width: 100%;
      max-width: 550px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $text;
        margin-bottom: 20px;
      }
    }

    &-image {
      //max-width: 477px;
      width: 100%;
      height: 250px;
      margin-left: 19px;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__textarea {
    width: 100%;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    margin-top: 34px;
    width: 100%;

    &-date {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $light;
    }

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 34px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-decoration-line: underline;
      color: $main;

      a[rel=prev] {
        position: relative;
        padding-left: 28px;

        &::after {
          position: absolute;
          content: url("../images/svg/prev_sl.svg");
          top: 0;
          left: 0;
        }
      }

      a[rel=next] {
        position: relative;
        padding-right: 28px;

        &::after {
          position: absolute;
          content: url("../images/svg/next_sl.svg");
          top: 0;
          right: 0;
        }
      }

      &:hover {
        color: $light;
      }
    }
  }
}
