@media (min-width: 990px) and (max-width: 1220px) {
  .services-page__main-info {
    margin-right: 0;
    max-width: 100%;
  }

  .services-page__sidebar {
    display: none;
  }

  .services-page__related-content_item {
    width: 100%;

    a {
      width: 100%;
    }
  }

  .services-page__video-item,
  .services-page__gallery-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
