@media (min-width: 1px) and (max-width: 559px) {
  .about-page__main {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-page__main-heading {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .about-page__main-image {
    display: none;
  }

  .about-page__main-doc {
    flex-direction: column;
  }

  .about-page__main-doc-item {
    width: 100%;
    min-height: 90px;
    margin-right: 0;
    padding: 18px 15px 19px;
  }

  .about-page__main-doc-item:first-child {
    margin-right: 0;
    margin-bottom: 18px;
  }

  .about-page__main-doc-info-title {
    font-size: 16px;
    line-height: 20px;
  }

  .about-page__main-doc-info {
    width: 100%;
  }

  .about-page__main-doc-file {
    font-size: 14px;
    min-width: 110px;
    padding-right: 0;
    margin-left: 10px;
  }

  .about-page__main-doc-file::after {
    display: none;
  }

  .about-page__main-doc-file-link {
    //margin-left: auto;
  }

  .about-page__advantages {
    margin-top: 40px;
  }

  .about-page__advantages-title {
    font-size: 20px;
  }

  .about-page__advantages-content {
    flex-direction: column;
    margin-top: 30px;
  }

  .about-page__advantages-item {
    width: 100%;
    min-height: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .about-page__advantages-item-title {
    font-size: 16px;
    line-height: 20px;
  }

  .about-page__advantages-item-num {
    margin-right: 16px;
    font-size: 21px;
  }
}
