@media (min-width: 1px) and (max-width: 559px) {
  .content-info__footer {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .content-info__footer-head {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content-info__footer-head-button {
    width: 100%;
    height: 60px;
    font-size: 15px;
    line-height: 18px;
  }

  .content-info__footer-head .bell-modal::after {
    right: -50vw;
    margin-right: auto;
  }

  .content-info__footer-head .request-modal::after {
    left: -50vw;
    margin-left: auto;
  }

  .content-info__footer-title {
    margin-bottom: 18px;
    width: 100%;
  }

  .content-info__footer-contacts {
    margin-top: 18px;
    order: 4;
    max-width: 100%;
    width: 100%;
  }

  .content-info__footer-navigation-main {
    margin-top: 0;
    margin-right: 0;
    order: 3;
    max-width: 100%;
    width: 100%;
  }

  .content-info__footer-navigation-service {
    order: 1;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  #menu-nizhnee-menyu-uslugi {
    display: none;
    margin-bottom: 18px;
    width: 100%;

    &.active {
      display: block;
    }
  }

  .footer-service-title {
    position: relative;
    height: 38px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      right: -5px;
      width: 11px;
      border: 2px solid $title;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      height: 11px;
      border: 2px solid $title;
      border-radius: 4px;
    }
  }

  .content-info__footer-navigation-product {
    order: 2;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  #menu-nizhnee-menyu-produkcziya {
    display: none;
    margin-bottom: 18px;
    width: 100%;

    &.active {
      display: block;
    }
  }

  .footer-product-title {
    position: relative;
    height: 38px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      right: -5px;
      width: 11px;
      border: 2px solid $title;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      height: 11px;
      border: 2px solid $title;
      border-radius: 4px;
    }
  }

  .hide::after {
    display: none;
  }

  .content-info__footer-bottom-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 19px;
  }

  .content-info__footer-bottom-copyright {
    margin-bottom: 10px;
  }
}
