@media (min-width: 769px) and (max-width: 989px) {
  .about-page__main {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about-page__main-heading {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .about-page__main-image {
    display: none;
  }

  .about-page__advantages-title {
    font-size: 26px;
  }

  .about-page__advantages-content {
    margin-top: 30px;
  }

  .about-page__advantages-item {
    width: calc((100% - 25px) / 2);
    min-height: 125px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .about-page__advantages-item-num {
    margin-right: 25px;
  }
}
