@media (min-width: 560px) and (max-width: 768px) {
  .post-page {
    margin-top: 40px;
    margin-bottom: -30px;
  }

  .post-page__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .post-page__list-item {
    margin-bottom: 40px;
  }

  .post-page__list-item-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .post-page__list-item-text {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 22px;
  }

  .post-page__list-item-image {
    height: 200px;
  }

  .post-page__list-item-more {
    font-size: 15px;
    line-height: 22px;
  }
}
