@media (min-width: 560px) and (max-width: 768px) {
  .production-page__main {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .production-page__main-heading {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .production-page__main-info {
    margin-right: 0;
    max-width: 100%;
  }

  .production-page__sidebar {
    display: none;
  }

  .production-page__price {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .production-page__price-content {
    width: 950px;
    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background: #c4c4c4;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background: $main;
      border-radius: 20px;
      transition: 0.25s ease-in-out;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $light;
      cursor: pointer;
    }
  }

  .production-page__price-title {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .production-page__price-tabs,
  .production-page__price-table-wrapper {
    width: 950px;
  }

  .production-page__product {
    margin-top: 40px;
  }

  .production-page__product-title {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .production-page__price-tabs-item {
    width: calc((100% - 8px) / 3.4);
    font-size: 16px;
    line-height: 20px;
  }

  .production-page__product-item-title {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
  }

  .production-page__product-content .owl-nav button.owl-prev {
    left: 86%;
  }

  .production-page__product-item-image {
    height: 200px;
  }
}
