@media (min-width: 560px) and (max-width: 768px) {
  .blog-page {
    margin-top: 40px;
  }

  .blog-page__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .blog-page__content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .blog-page__content-text {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    order: 2;
  }

  .blog-page__content-text p {
    margin-bottom: 15px;
  }

  .blog-page__content-image {
    display: flex;
    margin-left: 0;
    margin-bottom: 20px;
    height: 200px;
    order: 1;
  }

  .blog-page__footer {
    margin-top: 30px;
  }
}
